/** COLORS **/
/* All colors used in the theme */

$berry: #7E617C;
$blush: #EDD2CD;
$darkblue: #0D213F;
$terracotta: #DB8783;

$darkgrey: #969BAB;
$mediumgrey: #E5E5E5;
$lightgrey: #F5F5F5;

$white: #FFF;
$black: #000;

/* Main theme */
$text-color: $darkblue;
$primary-color: $terracotta;
$secondary-color: $berry;


/** V2 **/
//$berry: #65678D;
//$fushia: #D82E75;
//$pink: #F7C6C9;
//$blue: #6CA1D5;
//$terracotta: #E55B3F;
//$blush: #FFFBFC;

//$lightgrey: $blush;
//$primary-color: $terracotta;
//$secondary-color: $berry;
