/** COLORS **/
/* All colors used in the theme */

$blush: #EDD2CD;
$darkblue: #0D213F;
$berry: #ae325e;
$orange: #e85a22;

$darkgrey: #969BAB;
$mediumgrey: #f2e4de;
$lightgrey: #fff8ec;

$white: #FFF;
$black: #000;

$success: #319364;
$error: $berry;

/* Main theme */
$text-color: $darkblue;
$primary-color: $berry;
$secondary-color: $orange;
