/** FONTS **/
/* All fonts used in the theme */

// Modernline.
@font-face {
  font-family: "modernline";
  src: url("../fonts/modernline/modernline.otf");
}

$modernline: "modernline", cursive;

// XCharter
@font-face {
  font-family: "XCharter";
  src: url("../fonts/XCharter/XCharter-Roman.otf");
}

@font-face {
  font-family: "XCharter";
  font-style: italic;
  src: url("../fonts/XCharter/XCharter-Italic.otf");
}

@font-face {
  font-family: "XCharter";
  font-weight: 700;
  src: url("../fonts/XCharter/XCharter-Bold.otf");
}

@font-face {
  font-family: "XCharter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/XCharter/XCharter-BoldItalic.otf");
}

$xcharter: "XCharter", serif;

// Source Sans Pro
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  src: url("../fonts/SourceSansPro/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf");
}

$source-sans-pro: "Source Sans Pro", sans-serif;
