/** BLOCK LIST ARTICLES **/
/* Use in homepage */

.list--articles {

  &:not(.list--articles--in-page) {
    .list--articles-item {
      &:first-child {
        .article--image {
          height: 100%;
        }

        &:not(:first-child) {
          height: 23rem;
        }

        @include xl {
          grid-column: 1 / 3;

          .list--articles-item--container {
            flex-direction: row;

            .article {
              &--image--container,
              &--infos {
                box-sizing: border-box;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }

  &-item {
    margin-bottom: 1rem;
    margin-top: 1rem;

    @include xl {
      height: 23rem;

      &--container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }
    }
  }

  @include xl {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
