/** BLOCK PARAGRAPHS **/
/* Use in article */

.block--paragraph {
  .image--float {
    display: block;
  }

  .image--50 {
    margin-bottom: 1rem;
    width: 100%;
  }

  @include md {
    .image--container {
      padding-right: 1rem;
    }

    .image--float {
      &-left {
        float: left;
        padding-right: 1rem;
      }

      &-right {
        float: right;
        padding-left: 1rem;

      }
    }

    .image--50 {
      width: 50%;
    }

    .image--33 {
      width: 33%;
    }
  }

  .image--paragraph {
    border-radius: 8px;
    width: 100%;
  }

  .image--100 {
    border-radius: 8px;
    margin-top: 1rem;
    width: 100%;
  }
}
