/** PAGINATION **/
/* Use in articles.html */

.pagination {
  text-align: center;
  &--item {
    color: $primary-color;
    display: inline-block;

    &--is-active {
      .pagination--item--link {
        color: $primary-color;
        background: $white;
        border: 2px solid $primary-color;
      }
    }
  }
}
