// Mixin tag.
@mixin tagColor($color) {
  background: $color;
}

.tag {
  border-radius: 8px;
  color: $white;
  display: inline-block;
  font-family: $kumbh-sans;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .2rem .5rem;
  vertical-align: middle;

  &--primary {
    @include tagColor($primary-color);
  }

  &--secondary {
    @include tagColor($secondary-color);
  }

  &--reverse {
    @include tagColor($white);
    color: $primary-color;
    font-weight: 500;
  }

  &--inline {
    display: inline-block;
  }
}

a.tag {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}
