/** LINKS **/

// Mixin button.
@mixin button($color) {
  background: $color;

  &:hover {
    background: lighten($color, 10%);
    text-decoration: underline;
  }
}

.btn {
  &--container {
    display: block;
    text-align: center;
    width: 100%;
  }

  &--primary {
    @include button($primary-color);
  }

  &--secondary {
    @include button($secondary-color);
  }
}
