/** TEXTS **/

a,
li,
p {
  font-family: $varela-round;
  font-size: 1.2rem;
  line-height: 1.5;
}

p {
  color: $text-color;
}

a {
  text-decoration: underline;
  color: $secondary-color;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary-color;
  }
}
