/** BLOCK INSTAGRAM **/
/* Use in homepage */

.block--instagram {
  .list--instagram {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .list--instagram--item {
      max-width: 100%;
      flex-shrink: 1;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .instagram--image {
        width: 100%;
      }
    }

    @include md {
      .list--instagram--item {
        max-width: 47%;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    @include lg {
      flex-wrap: nowrap;

      .list--instagram--item {
        max-width: 18%;
        margin-bottom: 0;
      }
    }
  }
}
