/** FONTS **/
/* All fonts used in the theme */

// Kumbh Sans.
@font-face {
  font-family: "Kumbh Sans";
  font-weight: 400;
  src: url("../fonts/Kumbh_Sans/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  src: url("../fonts/Kumbh_Sans/KumbhSans-Bold.ttf");
}

$kumbh-sans: "Kumbh Sans", sans-serif;

// Modernline.
@font-face {
  font-family: "modernline";
  src: url("../fonts/modernline/modernline.otf");
}

$modernline: "modernline", cursive;

// Varela Round.
@font-face {
  font-family: "Varela Round";
  src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
}

$varela-round: "Varela Round", sans-serif;
