/** BLOCK **/

.block {
  clear: both;
  padding: 1rem 2rem 0;

  &:last-child {
    padding-bottom: 1rem;

    @include md {
      padding-bottom: 3rem;
    }

    @include lg {
      padding-bottom: 5rem;
    }
  }

  @include md {
    padding: 3rem 3rem 0;
  }

  @include lg {
    padding: 5rem 10rem 0;
  }
}
