/** BLOCK LIST ARTICLES **/
/* Use in homepage */

.list--articles {

  &:not(.list--articles--in-page) {
    .list--articles-item {
      &:first-child {
        .article--image--container {
          border-top-left-radius: 8px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 8px;
          overflow: hidden;
        }
      }
    }
  }

  &-item {
    background: $white;
    border-radius: 8px;

    .article--image--container {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 0;
      overflow: hidden;
    }
  }

  .article {
    &--infos {
      padding: 1rem;
    }

    &--title {
      font-family: $kumbh-sans;
      font-weight: 700;
      margin-top: 1rem;
    }

    &--time {
      font-size: .9rem;
      margin-top: .5rem;
    }

    &--description {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}
